*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.label {
    background-color: black;
    display: flex;
    border-radius: 50px;
    height: 26px;
    width: 50px;
    position: relative;
    justify-content:space-between;
    align-items:center;
    padding: 5px;
}

.ball {
    width: 22px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

nav{
    display: flex;
    justify-content:space-around;
    align-items:center;
    min-height: 8vh;
    font-family: 'Adamina', serif;
    background-color: #3e1b09;
}

.logo{
    color:white;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 22px;
}
.nav-links{
    display: flex;
    justify-content:space-around;
    width: 40%
}
.nav-links a{
    color:white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links li{
    list-style: none;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;

}
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #3e1b09;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
    }
}
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2{
    opacity: 0;
    
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    
}

body{
    height: 100%;
    
    background-color: #e4e5f1;
    transition: background 0.2s linear;
}

body.dark {
    background-color: #092c3e
}



